########################################
# 🌎 GLOBAL
########################################
Environment=

########################################
# 🗄️ DATABASE
########################################
DBUri=
DBName=
CollectionResponse=
CollectionOrders=

########################################
# 🔌 LIVERPOOL - EPICOR
########################################
DevEnv=

ApiKeyDevEpicor=
AuthDevEpicor=
UriDevEpicor=

ApiKeyProdEpicor=
UriProdEpicor=

AuthGetDescSp=

########################################
# 🗄️ SQL
########################################
SqlServer=
SqlUser=
SqlPass=
SqlDb=
SqlDbPrueba=

DEVELOP_ENV=
API_KEY_DEV_EPICOR=
AUTH_GET_DESC_SP=
URI_DEV_EPICOR=
URI_PROD_EPICOR=